.book__item {
  position: relative;
  z-index: 0;
   // height: 320px;
  .img-thumbnail {
    border: none;
  }

  .short__information {
    background-color: white;
    padding-left: 10px;
    transition: all 0.2s ease-in-out;
    position: relative;
    z-index: 1;
   
  }

  .book__category {
    color: #f75454;
    text-decoration: none;
    background-color: transparent;
    font-weight: 600;
  }

  .book__name {
    font-weight: 400;
    font-size: 14px;
    color: #161619;
  }

  .book__price {
    color: #C92127;
    font-size: 16px;
    font-weight: 600;
  }

  .book__author {
    font-size: 0.875rem;
    color: #7c6e65;
  }

  .item__hover {
    position: absolute;
    padding-left: 10px;
    bottom: 16px;
    right: 0;
    left: 15px;
    transition: all 0.2s ease-in-out;

    .addShoppingCartIcon {
      display: none;
    }

    button {
      background-color: #1B1B1B;
      font-size: medium;
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
  }

  .icon-heart {
    color: #161619;
    transition: all .2s ease-in-out;
    font-size: 30px;
    padding: 5px;
    margin-left: 25px;
    cursor: pointer;
  }

  .icon-heart:hover {
    color: white;
    background-color: #f75454;
    border-radius: 50%;

  }
}

.book__item:hover {
  .short__information {
    transform: translate(0, -50px);
  }
}

/* Mobile: width < 750px */
// @media only screen and (max-width: 750px){

// }

@media only screen and(max-width: 1024px){
  .book__item{
    .item__hover{
      .addShoppingCartText{
        display: none;
      }
      .addShoppingCartIcon{
        display: block;
        background-color: white;
        color: black;
      }
    }
  }
}
/* Tablet: width >=750px and width < 1024px */
@media only screen and (min-width: 375px) and (max-width: 1025px) {
  .book__item {
    height: 300px;

    .item__hover {
      bottom: 0px;
      justify-content: space-between;
      button {
        font-size: 11px;
        padding: 0;
      }
    }

    .book__name,
    .book__price,
    .book__category {
      font-size: 12px;
    }
  }

  .book__item:hover {
    .short__information {
      transform: none;
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width:1400px) {
  .book__item {
    height: 350px;

    .item__hover {
      button {
        font-size: 11px;
        padding: 0;
      }
    }

    .book__name,
    .book__price,
    .book__category {
      font-size: 13px;
    }

  }

  .book__item:hover {
    .short__information {
      transform: none;
    }
  }
}