.footer{
    width: 100%;
    background-color: #202427;
    color: white;
    hr{
        width: 25rem;
    }
    ul{
        padding: 0;
        li{
            list-style: none;
        }
        a{
            color: white;
        }
        a:hover{
            color: rgb(218, 218, 218);
        }
    }
    .footer-bookIcon{
        font-size: 7rem;
        left: 6rem;
        color: #c17229;
    }
    .footer-icon{
        padding: 2px;
    }
    .footer-icon__facebook{
        color: #1298f6;
        font-size: 30px;
        margin-right: 1rem;
    }
    .footer-icon__instagram{
        color:#c136a9;
        font-size: 30px;
        margin-right: 1rem;
    }
    .footer-icon__twitter{
        color: #5da9dd;
        font-size: 30px;
    }
}